.container {
  font-family: 'Apple SD Gothic Neo';
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 0;
}

.upperBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 50px;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  z-index: 100;
}

.upperRight {
  font-size: 28px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-left: auto;
  margin-bottom: 4px;
}

.timetableButton {
  padding: 10px;
  display: flex;
  align-items: center;
}

.pageTitle {
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
}

.list {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  background-color: #f4f4f4;
}

.lectureItem {
  border: transparent;
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  color: black;
  background-color: lightgray;
}

.lectureInfo {
  font-size: 14px;
}

.mainline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.subline {
  font-size: 14px;
  display: flex;
  width: 100%;
  align-content: center;
}

.classTimes {
  font-size: 14px;
  display: flex;
}

.classTime {
  margin-right: 5px;
}

.lectureIcon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  align-content: center;
}

.navibarFrame {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: white;
}
