.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Apple SD Gothic Neo';
  
}

.headerFrame {
  width: 100%;
  height: 40px;
  padding: 8px 12px 6px 16px;
  border-bottom: 0.5px solid #c4c4c4;
  background: white;
  position: fixed;
  align-items: center;
  top: 0;
  
}

.headerInnerFrame {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerContentFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.tabButton {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerTextFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.timetableTitle {
  font-size: 17px;
  font-weight: 700;
  line-height: 20.4px;
  text-align: left;
  color: var(--Text-Normal, #000000);
}

.timetableCredit {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  color: var(--Text-Assistive, #c4c4c4);
}

.timetableFrame {
  flex: 1;
  width: 100%;
  margin-top: 40px; /* Height of header */
  margin-bottom: 50px; /* Height of navbar */
  position: relative;
  overflow: hidden;
}

.navibarFrame {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: white;
}